<mat-toolbar>
    <mat-toolbar-row  class="nav">
     <div> <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="justify-content-between">
        <div class="row mr-2 ml-auto">
            <ul class="row m-0 align-items-center">
                <li>
                    <button>
                        <a  routerLink="/dashboard" routerLinkActive="list-item-active">Dashboard
                        </a>
                    </button>
                    <button>
                        <a  routerLink="/home" routerLinkActive="list-item-active" >Stats
                        </a>
                    </button>
                    <button>
                        <img src="../../assets/notification.png" alt="">
                    </button>
                    <button 
                    
                    mat-button
                    [matMenuTriggerFor]="menu"
                    class="user mt-2 d-flex align-items-center"
                    >
                    <img src="./assets/chat .png" alt="" class="user-image mr-1 p-2"  >
                    
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>exit_to_app</mat-icon>
                        Logout
                    </button>
                </mat-menu>
            </li>
        </ul>
    </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  