<div class="last"><button>Export CSV</button><button><select id="Daily" style="background:transparent; border:0px; padding:0px;">
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                    <option>Yearly</option>
                </select></button>
            
    <ul>
        <li>
           
                <ul>
                    <li><a href="default.asp">All</a></li>
                    <li><a href="news.asp">Open</a></li>
                    <li><a href="contact.asp">Resolved</a></li>
                    <li><a href="#">Rejected</a></li>
                  </ul>
            
        </li>
    </ul>
</div>