<div class="e-card">
    <h1>Dashboard Review</h1>
</div>
<div class="carding">
    <mat-card><button>
            <mat-card-title style="position:center;">
                <img src="../../assets/email.png" style="width: 40px;">Inbox</mat-card-title>
        </button>
    </mat-card>
    <mat-card><button>
            <mat-card-title>
                <img src="../../assets/ticket.png" style="width: 40px;">Resolved Ticket</mat-card-title>
        </button>
    </mat-card>
    <mat-card><button>
            <mat-card-title>            
                    <img src="../../assets/tickets (1).png" style="width: 40px;">All Ticket</mat-card-title>
        </button>
    </mat-card>
    <mat-card><button>
            <mat-card-title>
                 <img src="../../assets/tickets (2).png" style="width: 40px;">My Ticket</mat-card-title>
        </button>
    </mat-card>
    <mat-card><button>
            <img src="../../assets/tickets.png" alt=""> </button>
    </mat-card>
</div>

<mat-toolbar>
    <mat-toolbar-row class="nav">
        <div class="justify-content-between">
            <div class="row mr-2 ml-auto">
                <ul class="row m-0 align-items-center">
                    <li>
                    
                            <a routerLink="/dashboard" routerLinkActive="list-item-active">all
                            </a>
                        
                    
                            <a routerLink="/home" routerLinkActive="list-item-active">Product1
                            </a>
                        
                    
                            <a routerLink="/home" routerLinkActive="list-item-active">Product2
                            </a>
                        
                            <a routerLink="/home" routerLinkActive="list-item-active">Product3
                            </a>
                        
                    
                            <a   routerLink="/home" routerLinkActive="list-item-active">product4
                            </a>
                        
                    </li>
                </ul>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
