<mat-nav-list>
    <div class="logo py-4"><img src="../../assets/chat .png"  alt="">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATION</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"><mat-icon>User</mat-icon>User
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>Inbox
    </a>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon>Raise Tickets
    </a>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon>Open Tickets
    </a>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon>-Resolved Tickets
    </a>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon>Rejected Tickets
    </a>


</mat-nav-list>